html,
body {
  height: 100%;
}

main {
  flex-grow: 1;
}

body {
  background-color: #afc2cb;
  display: flex;
  flex-direction: column;
}

h1 {
  margin: 30px;
  font-family: "Pushster", cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #9d9afc;
}

p {
  text-shadow: 1.5px 1px 2px #232931;
  font-size: 2.5rem;
  color: #9d9afc;
  font-family: "Permanent Marker", cursive;
}

footer {
  margin-top: 5%;
  text-shadow: 1px 0 #232931;
  font-size: 1.5rem;
  color: #fb9e9a;
  text-align: center;
  font-family: "Charmonman", cursive;
  position: sticky;
}

#img1 {
  width: 80%;
}

#img2 {
  width: 80%;
}

.container {
  border: 6px solid #f9cdad;
  border-radius: 20px;
  width: 50%;
  margin: auto;
  text-align: center;
  background-color: #d18380;
}

.dice {
  text-align: center;
  display: inline-block;
  padding-bottom: 3%;
}

.button {
  width: 256px;
  display: inline-block;
  padding-bottom: 2%;
}

.playersRoll {
  background-color: #9d9afc;
  font-size: 20px;
  color: #f2eab1;
  border: 3px solid #f9cdad;
  border-radius: 10px;
  box-shadow: 1px 2px 4px #232931;
}

.playersRoll:active {
  transform: scale(0.98);
  box-shadow: 1px 1px 4px #232931;
}
